@{
    Layout = null;
}
@model LoginViewModel
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>SB Admin 2 - Login</title>
    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">




</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <br /><br /><br />
                                <p class="text-info"><B>Hotels booking</B></p>
                                <p class="text-success"><B>Plan your holiday with the best prices in the best hotels  </B></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <script src="~/js/lottie-player.js"></script>
                                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_JXUInT.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Please, Login First</h1>
                                    </div>
                                    <form asp-controller="Account" asp-action="Login" method="post" role="form" class="user">
                                        <input type="hidden" asp-for="ReturnUrl" />
                                        <div class="form-group">
                                            <label asp-for="UserName" class="text-primary">User Name</label>

                                            <div class="col-md-10">
                                                <input asp-for="UserName" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter your username...">
                                                <span asp-validation-for="UserName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password" class="text-primary">Password</label>

                                            <div class="col-md-10">
                                                <input asp-for="Password" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter your password">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <input asp-for="Email" value="ll" hidden>
                                        <input asp-for="PhoneNumber" value="5050" hidden>

                                        <button class="btn btn-primary btn-user btn-block"> Login  </button>

                                    </form>
                                    <a asp-controller="Hotel" asp-action="Index" class="btn btn-outline-primary btn-user btn-block mt-2"> Cancel  </a>

                                    <hr>
                                    <div class="text-center">
                                        <a class="small" asp-action="Register">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    
</body>

</html>